<!DOCTYPE html>
<html>
<head>
  <title>To-Do<title>
</head>
<body>
  <form action="/", method="post">
    <p>Enter a new todo item</p>
      <input type='text',placeholder='new todo', name='todo-text'>
    <button type="submit">Submit</button>
  </form>

</body>

</html>
