<!DOCTYPE html>
<html>
<head>
  <title>To-Do</title>
  <style>
  li {list-style-type: none;}
  </style>
</head>
<body>
  <h1>Task Manager</h1>
  <div class= "wrapper">
  <form action="/" method="post">
    <p>Enter a new todo item</p>
      <input type='text' placeholder='new todo' name='todoText'/>
  </form>
    {{#list}}
    <form class = '' action="/add" method="post">
    <p><li><button type="submit" name="done" value="{{.}}"><Submit></button><span>{{.}}</span></li></p>
    </form>
    {{/list}}
    <h1>Completed tasks</h1>
    {{#finished}}
    <p>{{.}}</p>
    {{/finished}}
  </div>
</body>

</html>
